.main-container{
  background-color: rgb(212 213 212 / 80%);
  box-shadow: 10px -2px 20px 2px rgb(212 213 212 /30%);
  border-radius: 15px;
  transform: translate(0,50%);
  max-width: 1080px;
  height: 50vh;
  margin: 20px auto;
  position: relative;
  z-index: 1;
  color: #212121;
}